# Optional
# S3_BUCKET=your_s3_bucket_name
# S3_BUCKET_OBJECT=your_s3_bucket_object[sqlite file storage object]
# S3_BUCKET_DVC_STORE_OBJECT=your_s3_bucket_object_for_dvc_store[dvc store object]
# S3_BUCKET_PREDICTION_OBJECT=your_s3_bucket_object[predictions storage]
# S3_BUCKET_MLFLOW_DIR=your_s3_bucket_objet[to store mlflow experiments]
# MLFLOW_S3_ENDPOINT_URL="https://s3.amazonaws.com"
